<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/profiles/show.css">
  <%- include('../partials/nav') %>

    <main>
      <div class="card-container">
        <div class="card">
          <img class="profile-avatar" src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
          <h1><%= profile.name %></h1>
          <div class="info-section">
            <h3>Email:</h3>
            <div><%= theUser[0].email %> </div>
          </div>
          <div class="info-section">
            <h3>Numer of collections:</h3>
            <div><% if(user.profile._id.equals(profile._id)){ %></div>
                You have 
              <% }else{ %>
                <%= profile.name %> has  
              <% } %> collected
              <%= profile.collections.length %> fashion 
              <% if (profile.collections.length < 2) { %>
                item!
              <% }else{ %>
              items!
              <% } %> 
          </div>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>