<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/profiles/show.css">
  <%- include('../partials/nav') %>

    <main>
      <div class="card-container">
        <div class="card">
          <img class="profile-avatar" src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
          <h1><%= profile.name %></h1>
          <div><% if(user.profile._id.equals(profile._id)){ %></div>
              You have 
            <% }else{ %>
              <%= profile.name %> has  
            <% } %> <%= profile.collections.length %> fashion items!
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>