<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/items/index.css">
  <%- include('../partials/nav') %>
<main>

  <div id="collections-index-title">
    <h1>The Fashion Collections:</h1>
  </div>

  <div class="card-container">
    <% items.forEach(item=> { %>
      <a class="text-decoration-none" href="/items/<%= item._id %>">
        <div class="card">
          <img src="<%= item.image %>" alt="<%= item.name %>'s image">
          <div class="card-body">
            <h1 class="card-title">
              <%= item.name %>
            </h1>
          </div>
        </div>
      </a>
      <% }) %>
  </div>
</main>

    <%- include('../partials/footer') %>